TAGS
*~
.*~
*.pyc
.#*
#*#
*/*~
*/.*~
*/*.pyc
*/.#*
*/#*#
*/*.so
doc/_build/
build/
dist/
.cache/
htmlcov/
.metadata_*
.coverage
examples/.coverage*
examples/.meta*
examples/*_wrapper.c
examples/*build*
MANIFEST
*.egg-info/
